@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-500: #194bfb;
  --color-primary-400: #436cff;
  --color-primary-300: #95adff;
  --color-primary-200: #bfcdff;
  --color-primary-100: #e8edff;

  --color-secondary-500: #1a202c;
  --color-secondary-400: #5d6a83;
  --color-secondary-300: #96a3be;
  --color-secondary-200: #d8e3f8;
  --color-secondary-100: #f2f6ff;

  --color-success-base: #22c55e;
  --color-success-dark: #16a34a;
  --color-success-light: #4ade80;

  --color-warning-base: #facc15;
  --color-warning-dark: #eab308;
  --color-warning-light: #fde047;

  --color-error-base: #ff4747;
  --color-error-dark: #dd3333;
  --color-error-light: #ff7171;

  --color-gray-50: #fafafa;
  --color-gray-100: #f7fafc;
  --color-gray-200: #edf2f7;
  --color-gray-300: #e2e8f0;
  --color-gray-400: #cbd5e0;
  --color-gray-500: #a0aec0;
  --color-gray-600: #718096;
  --color-gray-700: #2a313c;
  --color-gray-800: #232b38;
  --color-gray-900: #1a202c;

  /*  additional colors */
  --color-orange: #ff784b;
  --color-amber: #ffc837;
  --color-purple: #936dff;
}

body {
  font-family: "Manrope", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-secondary-100);
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.dark ::-webkit-scrollbar-track {
  background: var(--color-gray-800);
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--color-primary-400);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-500);
}
